<div class="container">
    <div class="row header">
        <h3>My Notes</h3>
    </div>

    <div class="row add_notes_form">
        <app-notes (notesCreatedEvent)="updateNotesList($event)"></app-notes>
    </div>
    
    <br>
    <h3 *ngIf="mynotes.length == 0">
        You have no notes!
    </h3>

    <div class="row">
        <div class="container">
            <app-noteview *ngFor="let n of mynotes; index as i"
                index="{{ i }}"
                [note]="n"
                (deleteEvent)="deleteNotesHandler($event)"
                >
            </app-noteview>
        </div>
    </div>
    <!-- note="{{ n }}" -->

</div>